<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148267470957-6jmftrn55qhrob3fn6o1odiqgi0ourlh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148267470957-6jmftrn55qhrob3fn6o1odiqgi0ourlh</string>
	<key>API_KEY</key>
	<string>AIzaSyBdPtaapOzcV5u2lNmC3u71n6uy03nMAMw</string>
	<key>GCM_SENDER_ID</key>
	<string>148267470957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junksofts.Controle-de-Gastos</string>
	<key>PROJECT_ID</key>
	<string>controle-de-gastos-322513</string>
	<key>STORAGE_BUCKET</key>
	<string>controle-de-gastos-322513.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148267470957:ios:983553f718488f25222f64</string>
</dict>
</plist>